/*-----------------------------------------------------------------------------------
  Author: zOnny
  Version: 1.0
-------------------------------------------------------------------------------------*/
/*

    font-family: 'Open Sans', sans-serif;

    font-family: 'Roboto Slab', serif;

*/
/*-----------------------------
	Footer Default
------------------------------*/


.ft__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 36px;
    text-transform: capitalize;
}
.ft__details p {
    color: #aaaaaa;
    font-size: 14px;
    line-height: 24px;
}
.footer .team__social__link {
    justify-content: flex-start;
    margin-top: 28px;
}

.ft__blog {
    display: flex;
}
.ft__bl__details h2 {
    color: #aaaaaa;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 18px;
}
.ft__bl__details span {
	color: #aaaaaa;
	display: inline-block;
	font-size: 14px;
	margin-top: 5px;
}
.ft__bl__thumb {
	align-items: center;
	display: flex;
	margin-right: 21px;
	width: 71px;
}
.ft__blog__inner + .ft__blog__inner {
    margin-top: 20px;
}
.ht__link li a {
    color: #aaaaaa;
    font-size: 14px;
    text-transform: capitalize;
}
.ht__link li + li {
    padding-top: 12px;
}
.ht__link li a:hover {
    color: #fff;
}
.ht__contact li a {
    color: #aaaaaa;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}
.ht__contact li a i {
    color: #49a010;
    font-size: 16px;
    padding-right: 14px;
}
.ht__contact li + li {
    padding-top: 15px;
}
.ht__contact li a:hover {
    color: #fff;
}
.ft__bl__details h2:hover a {
    color: #fff;
}
.ft__bl__details h2 a {
    transition: all 0.4s ease 0s;
}
.copyright__inner {
    align-items: center;
    border-top: 1px solid #555555;
    display: flex;
    height: 70px;
    justify-content: center;
}
.copyright__inner p {
    color: #fff;
    font-size: 16px;
}
.copyright__inner p i {
    padding: 0 4px;
}
.ft__bl__thumb a img {
    width: 100%;
}















